body {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    text-align: left;
    position: relative;
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 20%;
    transform: translate(-50%, -50%);
}