
.container {
    display: flex;
    justify-content: space-between;
}
.container2 {
    display: flex;
    justify-content: space-between;
}
.DateDebut {
    flex: 1;
}
.DateDebut {
    text-align: right;
}
.DateFin {
    text-align: left;
}

.DateFin {
    flex: 1;
}
.DateFin {
    text-align: right;
}
.DateFin {
    text-align: right;
}


